body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


body .background {
	/* Sets the div to be static and sized to the entire page. */
	position: fixed;
	width: 100vw;
	height: 100vh;

	/* Repeating background pattern */
	background-color: #000000;
	opacity: 0.9;
	background-image: radial-gradient(#524e4e 1px, #000000 1px);
	background-size: 50px 50px;
}

main {
	/*Positioning*/
	position: fixed;
	width: 60vw;
	margin: 10vh 20vw 0 20vw;
	display: flex;
	justify-content: center;
	align-items: center;


	/* Default Styling for content */
	color: white;
}



main h1 {

	font-size: 72px;
}

main p {
	margin-top: -10px;
	margin-left: 5px;
}

hr {
	border: 1px solid rgb(74, 74, 74);
	border-radius: 30%;
}